.App {
  margin: 30px auto;
}

body {
  display: block;
  max-width: 600px;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin: 50px auto;
  padding: 50px auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
